/*
  This is the styles.css page that is used to modify the appearance of
  the webpage.
*/
body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 50px;
}

img {
  width: 375px;
  height: 355px;
}

section img {
  border: 3px solid black;
  border-radius: 20px;
}

section, button {
  padding: 20px;
}

li {
  list-style: inside;
}

.nut {
  background-color: peru;
}

button {
  font-size: medium;
}
